sentence-transformers  # Modèle pour générer des embeddings
transformers==4.35.2

langchain_community  # Bibliothèque pour la gestion des chaînes de langage
chromadb  # Base de données vectorielle pour stocker les embeddings
pypdf  # Bibliothèque pour lire et manipuler les fichiers PDF
tqdm
python-dotenv
streamlit
rank_bm25
chatollama
langchain-ollama
openpyxl